.mainheader{
    background-color: red;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

h.mainheader{
    text-align: left;
    text-color: Blue;
}

.buttonfield{
    padding: 5px;
    margin: 100px:
    background-color: gray;
    border: 3px solid red;
    text-color: white;
}
h2{
    text-align: center;
}
.jumbotron{
    padding: 20px;
    margin: 20px;
}
    

