
.btn{
    color: green;
}

.mainheader{
    background-color: red;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

h.mainheader{
    text-align: left;
    text-color: Blue;
}

.buttonfield{
    padding: 5px;
    margin: 2px:
    background-color: gray;
    border: 3px solid red;
}
    
    
    

